// define analysis options for relax
arrOpts = {};
arrOpts["00"] = "Universal"; // genetic code
arrOpts["01"] = "%NEXUS%"; // input file path
arrOpts["02"] = "T"; // test branch
arrOpts["03"] = "R"; // reference branch
arrOpts["04"] = "Minimal"; // output mode

// execute relax analysis via hyphy batch file
ExecuteAFile("%HYPHY_PATH%/TemplateBatchFiles/SelectionAnalyses/RELAX.bf", arrOpts);